/*-- VENDOR STYLES --*/

@import 'base/variables';
@import 'base/mixins';

* {
    box-sizing: border-box;
}

.container {
    border: 1px solid #000;
}



.topheader {
    background: #E9E9E9;
    padding:5px 0;
}

.contacts {
    border: 1px solid red;
    float:left;
    &>* {
        display: inline-block;
        margin-right:10px;
        .fa {
           margin-right: 5px; 
        }
    }
}

.login {
    float:right;
    border: 1px solid red;
    text-align:right;
}


.logo {
    float:left;
}

.navbar {
    float: right;
}